<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 text-white bg-dark">
        <img class="card-img-top" src="../../assets/image/fishing-rod-8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">120 Dinars</h5>
          <p class="card-text">Daiwa’s first spinning reel rolled off the assembly line in 1955.

            Since then, the company has grown into one of the largest and most influential tackle companies in the world
            today.</p>
          <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Acheter</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 text-white bg-dark">
        <img class="card-img-top" src="../../assets/image/fishing-rod-8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">120 Dinars</h5>
          <p class="card-text">Daiwa’s first spinning reel rolled off the assembly line in 1955.

            Since then, the company has grown into one of the largest and most influential tackle companies in the world
            today.</p>
          <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Acheter</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 text-white bg-dark">
        <img class="card-img-top" src="../../assets/image/fishing-rod-8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">120 Dinars</h5>
          <p class="card-text">Daiwa’s first spinning reel rolled off the assembly line in 1955.

            Since then, the company has grown into one of the largest and most influential tackle companies in the world
            today.</p>
          <a href="http://www.jquery2dotnet.com/" class="btn btn-outline-light btn-sm">Acheter</a>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>