<div class="container">
  <div class="grid">
      <div class="row">
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/800/?random" alt="img17" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/801/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/802/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/804/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/805/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/2000/300/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>

          </div>
      </div>


      <div class="row">
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/800/?random" alt="img17" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/801/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
          <div class="col-md-4">
              <figure class="effect-ravi">
                  <img src="https://picsum.photos/1000/802/?random" alt="img25" />
                  <figcaption>
                      <h2>Fishing <span>Rods</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>

                      </p>
                  </figcaption>
              </figure>
          </div>
      </div>

  </div>

</div>
<app-footer></app-footer>